$border: 1px solid #ccc
$font-face: "Helvetica Neue", Helvetica, Arial, sans-serif
$font-size: 12px
$main-background-color: #fafafa
$content-padding: 10px

body
  font-family: $font-face
  font-size: $font-size

.main-view
  width: 80%
  margin: 0 auto
  margin-top: 20px
  border: $border
  background: $main-background-color

.search-bar
  padding: $content-padding
  border-bottom: $border

.result-details
  @extend .clearfix
  padding: $content-padding

.total
  float: left
  width: 50%

.pagination
  float: left
  width: 50%
  text-align: right

.results
  padding: $content-padding
  padding-top: 0
